.DS_Store
*~

/android/bin
/android/gen
/android/local.properties
/android/libs/*.jar

/ios/build
/ios/AIRheader
/ios/AdStirSDK/*.a
/ios/AdStirSDK/*.h

project.xcworkspace
xcuserdata

/files

/example/build.xml
/example/*.apk
/example/*.ipa
/example/*.dSYM
/example/*.swf
/example/Main.as

/build.properties

/*.p12
/*.mobileprovision
